
## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## LLM Model
*.gguf

## Framework
*.xcframework
*.DS_Store

# Tuist
# Ignore the generated Xcode projects and workspaces
*.xcodeproj
*.xcworkspace

# Ignore the Tuist derived data and cache
.tuist-bin/
Derived/
.build/
Tuist/Dependencies/
Tuist/.build/

# Standard macOS/Xcode ignores
DerivedData/
*.moved-aside
*.xcuserstate

.build/
