<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApsyt8euKZkNJ9PquisRINv9mChC9JMiI</string>
	<key>GCM_SENDER_ID</key>
	<string>644225277056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bambooLocal.EventProcessor</string>
	<key>PROJECT_ID</key>
	<string>eventprocessor-7c43e</string>
	<key>STORAGE_BUCKET</key>
	<string>eventprocessor-7c43e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644225277056:ios:73507cbd337a79a3565a65</string>
</dict>
</plist>