name: CI

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  tests:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Tuist 
        run: |
          brew update
          brew install tuist

      - name: Download llama.cpp and LLM model
        run: |
          swift DownloadAssets.swift

      - name: Generate Xcode project (tuist install + generate)
        run: |
          tuist install
          tuist generate --no-open

      - name: Run tests via Tuist
        run: |
          tuist test

